.carousel {
  margin-top: 20px;
  overflow: hidden;
}
.carousel ul li button:before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}

.carousel li.slick-active button:before {
  color: white;
}
.carousel .slick-list {
  overflow: visible;
}
.carousel button {
  z-index: 1;
}
.wrap {
  cursor: pointer;
}
.wrap img {
  border: 4px solid transparent;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition-duration: 300ms;
}
.wrap img:hover {
  border: 4px solid rgba(249, 249, 249, 0.8);
}
