.master__header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: var(--headerHeight);
  border-bottom: 1px solid #61697f;
}
.master__header--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(95%, 100%);
}
.master__header--start,
.master__header--end {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 42px;
}
.headerStart-child:not(:first-child),
.headerEnd-child:not(:first-child) {
  margin-left: 16px;
}
.guide-btn .icon__wrapper {
  width: 32px;
  height: 32px;
}
#btn-feedback {
  color: var(--cl-grey-300);
}
.icon-left .icon__wrapper {
  margin-right: 4px;
}
