.App {
  --headerHeight: 70px;
  --sidebarWidth: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
}
/** Text Classes  */
/** Heading  */
h1,
.heading--h1 {
  font-size: var(--headingh1-fontSize);
  font-weight: var(--headingh1-fontWeight);
  line-height: var(--headingh1-lineHeight);
  letter-spacing: var(--headingh1-letterSpacing);
  font-style: var(--headingh1-fontStyle);
}
h2,
.heading--h2 {
  font-size: var(--headingh2-fontSize);
  font-weight: var(--headingh2-fontWeight);
  line-height: var(--headingh2-lineHeight);
  letter-spacing: var(--headingh2-letterSpacing);
  font-style: var(--headingh2-fontStyle);
}
h3,
.heading--h3 {
  font-size: var(--headingh3-fontSize);
  font-weight: var(--headingh3-fontWeight);
  line-height: var(--headingh3-lineHeight);
  letter-spacing: var(--headingh3-letterSpacing);
  font-style: var(--headingh3-fontStyle);
}
h4,
.heading--h4 {
  font-size: var(--headingh4-fontSize);
  font-weight: var(--headingh4-fontWeight);
  line-height: var(--headingh4-lineHeight);
  letter-spacing: var(--headingh4-letterSpacing);
  font-style: var(--headingh4-fontStyle);
}
h5,
.heading--h5 {
  font-size: var(--headingh5-fontSize);
  font-weight: var(--headingh5-fontWeight);
  line-height: var(--headingh5-lineHeight);
  letter-spacing: var(--headingh5-letterSpacing);
  font-style: var(--headingh5-fontStyle);
}
h6,
.heading--h6 {
  font-size: var(--headingh6-fontSize);
  font-weight: var(--headingh6-fontWeight);
  line-height: var(--headingh6-lineHeight);
  letter-spacing: var(--headingh6-letterSpacing);
  font-style: var(--headingh6-fontStyle);
}
/** Body  */
.body--lg {
  font-size: var(--bodyLarge-fontSize);
  font-weight: var(--bodyLarge-fontWeight);
  line-height: var(--bodyLarge-lineHeight);
  font-style: var(--bodyLarge-fontStyle);
}
.body--rg,
p {
  font-size: var(--bodyRegular-fontSize);
  font-weight: var(--bodyRegular-fontWeight);
  line-height: var(--bodyRegular-lineHeight);
  font-style: var(--bodyRegular-fontStyle);
}
.body--sm {
  font-size: var(--bodySmall-fontSize);
  font-weight: var(--bodySmall-fontWeight);
  line-height: var(--bodySmall-lineHeight);
  font-style: var(--bodySmall-fontStyle);
}
.body--xsm {
  font-size: var(--bodyExtraSmall-fontSize);
  font-weight: var(--bodyExtraSmall-fontWeight);
  line-height: var(--bodyExtraSmall-lineHeight);
  font-style: var(--bodyExtraSmall-fontStyle);
}
/** Caption  */
.caption {
  font-size: var(--caption-fontSize);
  font-weight: var(--caption-fontWeight);
  line-height: var(--caption-lineHeight);
  font-style: var(--caption-fontStyle);
}
/** Overline  */
.overline-rg {
  font-size: var(--overlineRegular-fontSize);
  font-weight: var(--overlineRegular-fontWeight);
  line-height: var(--overlineRegular-lineHeight);
  font-style: var(--overlineRegular-fontStyle);
}
.overline-sm {
  font-size: var(--overlineSmall-fontSize);
  font-weight: var(--overlineSmall-fontWeight);
  line-height: var(--overlineSmall-lineHeight);
  font-style: var(--overlineSmall-fontStyle);
}
/** Link  */
.link-rg {
  font-size: var(--linkRegular-fontSize);
  font-weight: var(--linkRegular-fontWeight);
  line-height: var(--linkRegular-lineHeight);
  font-style: var(--linkRegular-fontStyle);
  letter-spacing: var(--linkRegular-letterSpacing);
}
.link-sm {
  font-size: var(--linkSmall-fontSize);
  font-weight: var(--linkSmall-fontWeight);
  line-height: var(--linkSmall-lineHeight);
  font-style: var(--linkSmall-fontStyle);
  letter-spacing: var(--linkSmall-letterSpacing);
}
.link-xsm {
  font-size: var(--linkExtraSmall-fontSize);
  font-weight: var(--linkExtraSmall-fontWeight);
  line-height: var(--linkExtraSmall-lineHeight);
  font-style: var(--linkExtraSmall-fontStyle);
  letter-spacing: var(--linkExtraSmall-letterSpacing);
}
/* /----------------------------------------------------------------------------------------/ */
/** Color Classes  */
/** Background / Primary*/

.bg-primary--500 {
  background-color: var(--cl-primary-500);
}
.bg-primary--600 {
  background-color: var(--cl-primary-600);
}
.bg-primary--700 {
  background-color: var(--cl-primary-700);
}
.bg-primary--800 {
  background-color: var(--cl-primary-800);
}
.bg-primary,
.bg-primary--900 {
  background-color: var(--cl-primary-900);
}
/** Background / Seconday*/
.bg-secondary,
.bg-secondary--500 {
  background-color: var(--cl-secondary-500);
}
.bg-secondary--600 {
  background-color: var(--cl-secondary-600);
}
.bg-secondary--700 {
  background-color: var(--cl-secondary-700);
}
.bg-secondary--800 {
  background-color: var(--cl-secondary-800);
}
.bg-secondary--900 {
  background-color: var(--cl-secondary-900);
}

/* /----------------------------------------------------------------------------------------/ */
/** Button / Link Classes  */
/** Button type - text  */
/** style - default   */
.btn,
.link {
  color: var(--cl-grey-100);
  border: none;
  outline: none;
  background-color: transparent;
}
.btn:hover,
.link:hover {
  color: var(--cl-grey-50);
}
.btn:active,
.link:active {
  color: var(--cl-grey-400);
}
/** style - fill   */
.btn-fill {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background: var(--gradient-style1-primary);
  mix-blend-mode: normal;
  color: var(--cl-grey-50);
  border: none;
  outline: none;
  border: 1px solid transparent;
}
.btn-fill:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(90deg, #1ea5fc 0%, #1884ca 100%);
}
.btn-fill:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(90deg, #1ea5fc 0%, #1884ca 100%);
  border: 1px solid var(--cl-white-30);
}

/** style - outline   */
.btn-outline {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 1px solid var(--cl-grey-50);
  color: var(--cl-grey-50);
  background-color: transparent;
  outline: none;
}
.btn-outline:hover {
  background: var(--cl-white-20);
}
.btn-outline:active {
  background: var(--cl-black-20);
}

/** style - transparent */
.btn-transparent {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: var(--cl-grey-50);
  background: var(--cl-white-10);
  border: none;
  outline: none;
  border: 1px solid transparent;
}
.btn-transparent:hover {
  background: var(--cl-white-20);
}
.btn-transparent:active {
  background: var(--cl-black-10);
  border: 1px solid var(--cl-white-10);
}

/** Button type - icon  */
/* /----------------------------------------------------------------------------------------/ */

/** Input fields Classes */
/** default styling */
/** input type - textfield */
.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 470px;
  background: var(--cl-black-10);
  border: 1px solid var(--cl-grey-700);
  height: fit-content;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* .input > button  */
.input button {
  background: none;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  padding: 0;
}
/* .input > input  */
.input input {
  flex: 1;
  margin-right: 16px;
  background-color: transparent;
}
.input input::placeholder {
  color: #323b54;
}
/* .input > div.letter-count  */
.input .letter-count {
  font-size: var(--overlineSmall-fontSize);
  font-weight: var(--overlineSmall-fontWeight);
  line-height: var(--overlineSmall-lineHeight);
  font-style: var(--overlineSmall-fontStyle);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--cl-grey-500);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
/** input type - search bar */
.input--searchbar {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.input--searchbar input {
  margin: 0px 16px;
}
.f-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}
